@{
    ViewData["Title"] = "Admin";
}

<div class="row">
    <nav id="sidebarMenu" class="col-lg-3 sidebar" aria-labelledby="Menú de opciones">

        <div class="vh-100">
            <div class="pt-3">
                <ul class="nav flex-column">
                    <h3 class="text-uppercase mt-3">Productos</h3>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#">Gestionar productos</a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <h3 class="text-uppercase mt-5 text-dark">Mensajeros</h3>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#">Gestionar mensajeros</a>
                    </li>
                </ul>
            </div>
        </div>



    </nav>
    <div class="col-md-9 col-lg-9 px-md-4">
        <h3 class="text-uppercase my-5">
            Nuevos productos

        </h3>

        <form class="mx-5 mt-6" method="POST">
            <div class="row">
                <div class="col">
                    <h5>Nombre</h5>
                    <input id="nombreUsuario" name="nombreUsuario" type="text" class="form-control form-control-lg" placeholder="Nombre" required>
                </div>
                <div class="col">
                    <h5>Identificación</h5>
                    <input id="idUsuario" name="idUsuario" type="number" class="form-control form-control-lg" placeholder="000000000" min="1" required>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <h5>Correo</h5>
                    <input id="correoUsuario" name="correoUsuario" type="email" class="form-control form-control-lg" placeholder="Correo" required>
                </div>
                <div class="col">
                    <h5>Número de Carné</h5>
                    <input id="nCarne" name="nCarne" type="number" class="form-control form-control-lg" placeholder="000000000" min="1">
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <h5>Fecha de Nacimiento</h5>
                    <input id="fechaUsuario" name="fechaUsuario" type="date" class="form-control form-control-lg" min="1924-01-01" required>
                </div>
                <div class="col">
                    <h5>Rol</h5>
                    <select id="rol" name="rol" class="form-control form-control-lg">
                        <option>Estudiante</option>
                        <option>Guarda</option>
                        <option>Personal Administrativo</option>
                    </select>
                </div>
            </div>
            <div class="pt-5 mb-4 text-end">
                <button id="btnRegUsuarios" name="btnRegUsuarios" class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>
