@{
    ViewData["Title"] = "Admin";
}

<div class="row">
    <nav id="sidebarMenu" class="col-lg-3 sidebar" aria-labelledby="Menú de opciones">

        <div class="vh-100">
            <div class="pt-3">
                <ul class="nav flex-column">
                    <h3 class="text-uppercase mt-3">Productos</h3>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#">Gestionar productos</a>
                    </li>
                </ul>
                <ul class="nav flex-column">
                    <h3 class="text-uppercase mt-5 text-dark">Mensajeros</h3>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#">Gestionar mensajeros</a>
                    </li>
                </ul>
            </div>
        </div>



    </nav>
    <div class="col-md-9 col-lg-9 px-md-4">
        <h3 class="text-uppercase my-5">
            Nuevos productos

        </h3>

   
    </div>
</div>
